Repository kevupton/fixparser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_fixparser, npm_dashboard

.gitlab-ci.yml:

image: node:latest

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .npm/

before_script:
  - node -v
  - npm -v
  - npm ci --cache .npm --prefer-offline

stages:
  - build
  - test
  - performance
  - deploy

lint:
  stage: build
  needs: []
  script:
    - npm run lint

build:
  stage: build
  needs: []
  script:
    - npm run build

test:
  stage: test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  needs: []
  script:
    - npm test
  artifacts:
    when: always
    reports:
      junit:
        - test-reports/jest-junit.xml
      cobertura:
        - test-reports/cobertura-coverage.xml

performance:
  stage: test
  needs: ['build', 'test']
  script:
    - npm run build && npm run perf
  when: manual
  allow_failure: true

pages:
  stage: deploy
  needs: ['build', 'test']
  script:
    - cd dashboard && npm ci && npm rebuild node-sass && npm run build && cd ..
    - mkdir .public
    - cp dashboard/build/*.woff .public
    - cp dashboard/build/*.woff2 .public
    - cp dashboard/build/dashboard.* .public
    - cp dashboard/build/index.html .public
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - main

npm_fixparser:
  stage: deploy
  needs: ['build', 'test']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG =~ /^release-\d+.\d+.\d+/
      changes:
        - package.json
  script:
    # If no .npmrc if included in the repo, generate a temporary one that is configured to publish to public NPM registry
    - |
      if [[ ! -f .npmrc ]]; then
        echo "//registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
      fi
    - echo "Created .npmrc with auth token..."

    # Extract a few values from package.json
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")

    # Compare the version in package.json to all published versions.
    # If the package.json version has not yet been published, run `npm publish`.
    - |
      if [[ $(npm view "${NPM_PACKAGE_NAME}" versions) != *"'${NPM_PACKAGE_VERSION}'"* ]]; then
        npm run build
        npm run prettier
        npm publish
        echo "Successfully published version ${NPM_PACKAGE_VERSION} of ${NPM_PACKAGE_NAME} to the NPM registry."
      else
        echo "Version ${NPM_PACKAGE_VERSION} of ${NPM_PACKAGE_NAME} has already been published, so no new version has been published."
      fi

npm_dashboard:
  stage: deploy
  needs: ['build', 'test']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG =~ /^release-\d+.\d+.\d+/
      changes:
        - dashboard/package.json
  script:
    - cd dashboard

    # If no .npmrc if included in the repo, generate a temporary one that is configured to publish to public NPM registry
    - |
      if [[ ! -f .npmrc ]]; then
        echo "//registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
      fi
    - echo "Created .npmrc with auth token..."

    # Extract a few values from package.json
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")

    # Compare the version in package.json to all published versions.
    # If the package.json version has not yet been published, run `npm publish`.
    - |
      if [[ $(npm view "${NPM_PACKAGE_NAME}" versions) != *"'${NPM_PACKAGE_VERSION}'"* ]]; then
        npm ci && npm rebuild node-sass && npm run build
        npm publish
        echo "Successfully published version ${NPM_PACKAGE_VERSION} of ${NPM_PACKAGE_NAME} to the NPM registry."
      else
        echo "Version ${NPM_PACKAGE_VERSION} of ${NPM_PACKAGE_NAME} has already been published, so no new version has been published."
      fi

5.4.6
  dashboard/esbuild-config.mjs
  dashboard/esbuild-server.mjs
  dashboard/esbuild.mjs
  dashboard/package-lock.json
  dashboard/package.json
  package.json
Due: npm_fixparser, npm_dashboard

5.4.7
  .eslintrc
  .gitlab-ci.yml
  dashboard/package-lock.json
  dashboard/package.json
  examples/example_ws_client.html
  package-lock.json
  package.json
  prebuild/index.ts
  scripts/build.ts
  scripts/clean.ts
  src/FIXParser.ts
  src/FIXParserBase.ts
  src/FIXParserBrowser.ts
  src/FIXServer.ts
  src/enums/Enums.ts
  src/fields/Fields.ts
  src/licensemanager/LicenseManager.ts
  src/message/Message.ts
  src/messages/Messages.ts
  src/session/SessionResendRequest.ts
  src/util/FrameDecoder.ts
  src/util/util.ts
  tsconfig.eslint.json
  tsconfig.json
Due: npm_fixparser, npm_dashboard

5.4.8
  .prettierignore
  dashboard/package-lock.json
  dashboard/package.json
  package.json
  perf/Perf-FIXParser.js
  scripts/build.ts
  src/FIXParserBrowser.ts
  src/fields/categories/CategoryType.ts
  src/fields/datatypes/Datatypes.ts
  src/fields/datatypes/FieldType.ts
  src/fields/sections/SectionType.ts
  src/licensemanager/LicenseManager.ts
  src/message/Message.ts
  src/session/SessionFirstMessage.ts
  src/session/SessionLogon.ts
  src/session/SessionLogout.ts
  src/session/SessionResendRequest.ts
  src/session/SessionSequence.ts
Due: npm_fixparser, npm_dashboard

5.4.9
  dashboard/package.json
  package.json
  src/licensemanager/LicenseManager.ts
Due: npm_fixparser, npm_dashboard

Delete Dockerfile
  Dockerfile
Due: none

5.5.0
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  package.json
  src/message/Message.ts
  test/message/Message.repeatinggroups.test.ts
  test/message/Message.test.ts
Due: npm_fixparser, npm_dashboard

5.6.0
  dashboard/package-lock.json
  dashboard/package.json
  package.json
  src/message/Message.ts
  test/message/Message.repeatinggroups.test.ts
Due: npm_fixparser, npm_dashboard

5.6.1
  dashboard/package-lock.json
  dashboard/package.json
  package.json
  src/message/Message.ts
  test/message/Message.repeatinggroups.test.ts
Due: npm_fixparser, npm_dashboard

removed license manager
  src/FIXParser.ts
  src/FIXParserBrowser.ts
  src/FIXServer.ts
  src/licensemanager/LicenseManager.ts
  src/licensemanager/LicenseManagerUtils.ts
  src/message/Message.ts
  src/messagetemplates/MessageTemplates.ts
  src/session/ServerMessageProcessor.ts
Due: none

removed readme
  README.md
  package.json
Due: npm_fixparser
