Repository kevupton/fixparser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, npm_fixparser, npm_dashboard

Path conditions:
  pages: any of: package.json
  npm_fixparser: any of: package.json
  npm_dashboard: any of: dashboard/package.json

gitlab CI
  .gitlab-ci.yml
Due: none

5.0.9
  dashboard/package-lock.json
  dashboard/package.json
  package-lock.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

disable fixparser-image
  .gitlab-ci.yml
Due: none

5.1.0
  dashboard/package.json
  jest.config.ts
  package.json
  prebuild/index.ts
  spec/SpecMessageContents.ts
  src/FIXServer.ts
  src/IFIXParser.ts
  src/session/SessionFirstMessage.ts
  src/session/SessionLogon.ts
  src/session/SessionSequence.ts
  src/util/util.ts
  test/__snapshots__/fixserver.test.ts.snap
  test/fixparser-enterprise-session.test.ts
  test/fixserver.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.1.0
  test/fixserver.test.ts
Due: none

5.1.0
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.1.1
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/webpack.config.ts
  jest.config.ts
  package-lock.json
  package.json
  test/fixserver.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.1.3
  .npmignore
  dashboard/.npmignore
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.1.4
  dashboard/package.json
  package.json
  src/FIXParser.ts
  src/FIXParserBrowser.ts
  src/FIXServer.ts
  src/licensemanager/LicenseManager.ts
  src/licensemanager/LicenseManagerUtils.ts
  src/message/Message.ts
  src/session/ClientMessageProcessor.ts
  src/session/ServerMessageProcessor.ts
  src/session/SessionLogon.ts
  src/session/SessionResendRequest.ts
  test/licensemanagerutils.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.2.0
  .eslintrc
  README.md
  dashboard/package-lock.json
  dashboard/package.json
  examples/example_quickfix_client1.ts
  examples/example_quickfix_executor.ts
  examples/example_tcp_client.ts
  examples/example_tcp_client_resendrequest.ts
  examples/example_tcp_ctrader.ts
  examples/example_tcp_server.ts
  examples/example_tlstcp_client.ts
  examples/example_ws_client.html
  examples/example_ws_client.ts
  examples/example_ws_server.ts
  package-lock.json
  package.json
  src/FIXParser.ts
  src/FIXParserBase.ts
  src/FIXParserBrowser.ts
  src/FIXServer.ts
  src/util/util.ts
  test/fixserver-e2e-nolicense.test.ts
  test/fixserver-e2e-tcp-logon-invalid.test.ts
  test/fixserver-e2e-tcp-logon.test.ts
  test/fixserver-e2e-tcp-msgseqnum-first.test.ts
  test/fixserver-e2e-tcp-msgseqnum-invalid.test.ts
  test/fixserver-e2e-ws-logon-invalid.test.ts
  test/fixserver-e2e-ws-logon.test.ts
  test/fixserver-e2e-ws-msgseqnum-invalid.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.2.1
  .gitlab-ci.yml
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  dashboard/src/messages/MessageDetailList.tsx
  dashboard/src/messages/MessageDetailListItem.tsx
  dashboard/src/messages/MessageList.tsx
  package.json
  src/FIXParserBase.ts
  src/FIXParserBrowser.ts
  src/fields/Fields.ts
  src/message/Message.ts
  src/session/ClientMessageProcessor.ts
  src/util/util.ts
  test/fields/Field.test.ts
  test/fixparser.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.2.2
  dashboard/package-lock.json
  dashboard/package.json
  src/util/FrameDecoder.ts
Due: npm_dashboard

5.2.3
  dashboard/package-lock.json
  dashboard/package.json
  package-lock.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.0
  .gitlab-ci.yml
Due: none

5.3.0
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.1
  dashboard/package.json
  dashboard/src/messages/MessageDetailList.tsx
  env-proxy.ts
  esbuild.config.js
  jest.config.ts
  package.json
  src/FIXParser.ts
  src/FIXParserBrowser.ts
  src/licensemanager/LicenseManager.ts
  src/util/util.ts
Due: pages, npm_fixparser, npm_dashboard

5.3.1
  jest.config.ts
Due: none

5.3.2
  dashboard/package.json
  esbuild.config.js
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.3
  dashboard/package.json
  esbuild.config.js
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.4
  README.md
  dashboard/package.json
  dashboard/webpack.config.ts
  esbuild.config.js
  examples/example_ws_client.html
  examples/run-example.ts
  globals.d.ts
  globals.js
  package.json
  src/FIXParser.ts
  src/FIXParserBrowser.ts
  src/FIXServer.ts
  src/session/ServerMessageProcessor.ts
  test/fixencoder.test.ts
  test/fixparser-enterprise.test.ts
  test/fixparser.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.3.5
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  dashboard/src/messages/MessageDetailList.tsx
  dashboard/src/messages/MessageDetailListItem.tsx
  dashboard/src/messages/MessageList.tsx
  dashboard/src/messages/MessageListItem.tsx
  dashboard/tsconfig.json
  dashboard/webpack.config.ts
  esbuild-hook.js
  esbuild.config.js
  package-lock.json
  package.json
  scripts/build.ts
  scripts/clean.ts
  tsconfig-types.json
  tsconfig.json
Due: pages, npm_fixparser, npm_dashboard

5.3.6
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.7
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  dashboard/webpack.config.ts
  package.json
  scripts/build.ts
  src/FIXParser.ts
Due: pages, npm_fixparser, npm_dashboard

5.3.7
  dashboard/package.json
  jest.config.ts
  package-lock.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.8
  .gitlab-ci.yml
  dashboard/package-lock.json
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.3.9
  package.json
Due: pages, npm_fixparser

5.4.0
  .gitlab-ci.yml
  package.json
Due: pages, npm_fixparser

5.4.0
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  dashboard/src/messages/MessageDetailList.tsx
  dashboard/src/messages/MessageDetailListItem.tsx
  dashboard/src/messages/MessageList.tsx
  dashboard/src/messages/MessageListItem.tsx
  dashboard/tsconfig.json
Due: npm_dashboard

5.4.0
  .gitlab-ci.yml
Due: none

5.4.1
  dashboard/package.json
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.4.2
  .gitlab-ci.yml
  README.md
  dashboard/package.json
  dashboard/src/Dashboard.tsx
  package.json
  scripts/build.ts
  src/FIXParser.ts
  src/FIXParserBrowser.ts
Due: pages, npm_fixparser, npm_dashboard

5.4.3
  README.md
  dashboard/package-lock.json
  dashboard/package.json
  package.json
  scripts/build.ts
  src/FIXParserBrowser.ts
  test/components/Components.test.ts
  test/enums/EnumType.test.ts
  test/enums/Enums.test.ts
Due: pages, npm_fixparser, npm_dashboard

5.4.4
  dashboard/package-lock.json
  dashboard/package.json
  package.json
  scripts/build.ts
Due: pages, npm_fixparser, npm_dashboard

5.4.5
  dashboard/babel.config.json
  dashboard/esbuild-server.mjs
  dashboard/esbuild.mjs
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/ApplicationRenderer.tsx
  dashboard/src/Dashboard.tsx
  dashboard/src/index.html
  dashboard/src/messages/MessageDetailList.tsx
  dashboard/src/messages/MessageList.tsx
  dashboard/webpack.config.ts
  package.json
Due: pages, npm_fixparser, npm_dashboard

5.4.5
  .gitlab-ci.yml
Due: none
